h1 {
	font-family: Papyrus, fantasy;
}

body {
  background-image: url("../img/ping-pong.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: lightgray;
}

p {
  padding: 10%;
}

h3 {
	padding: 10%;
	font-size: 18pt;
}

.container {
	height: 100%;
	width: 100%;
}

#leftBar {
	margin-left: 10%;
	height: 100vh;
  overflow-y: auto;
	direction: rtl;
	text-align: left;
}

#rightBar {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
  background-color: darkgreen;
  width: 25%;
  font-family: cursive;
	overflow-y: auto;
}
